{% extends "pages/base.html" %}
{% load i18n mezzanine_tags blog_tags keyword_tags disqus_tags %}
{% load static blog_tags %}
{% block main %}
<div class="container">

    <span style="text-align:center; padding: 0 60px 0 0"><h3>The Site Most Recently Banned From Reddit!</h3></span>

<div class="row">
<div class="col-md-4 left">

{% blog_recent_posts limit=3 category="Crucial Stuff" as recent_posts %}
    {% if recent_posts %}
    <h2>Crucial Stuff</h2>
    <ul>
        {% for recent_post in recent_posts %}
        <li>
            <h3><a href="{{ recent_post.get_absolute_url }}">{{ recent_post.title }}</a></h3>

            <div class = "row">
            {% if recent_post.featured_image %}
                <div class="col-md-3 pull-left thumbnail">
                    <img class="tumbnail" src="/static/media/{{ recent_post.featured_image }}">
                </div>
                <div class="col-md-3 pull-left"></div>
                <div class="col-md-9 pull-right">
            {% else %}
                <div class="col-md-12">
            {% endif %}

            <div class="recent-summary">
                {{ recent_post.description_from_content|safe }}
                <a href="{{ recent_post.get_absolute_url }}" class="label-inverse">{% trans "read more&hellip;" %}</a>
            <hr>
            </div><!-- /recent-summary -->
            </div><!-- /recent-summary -->
            </div><!-- /recent-summary -->
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>

{% comment %}
    <ul>
        <li>
            <h3>Enjoying With Hummus</h3>
            <div class="container">
                <iframe src="https://www.youtube.com/embed/FacZ5N4fHyA" frameborder="3" allowfullscreen></iframe>
            </div>
        </li>
        <li>
            <h3>Detective BuckPasser</h3>
            <p>The finest in modern text based adventure games! The vivid colors! The action! All in your imagination!</p>
            <p> <a href="https://snhobbs.github.io/DetectiveBuckPasser/" style="color:black">Find it now on Github!</a></p>
        </li>
    </ul>

</div>
{% endcomment %}

<div class="col-md-4 middle">
    {% include "pages/battery.html" %}
</div>
<div class="col-md-4 right">

{% blog_recent_posts limit=3 category="News" as recent_posts %}
    {% if recent_posts %}
    <h2>News & <del> Mis</del>information</h2>
    <ul>
        {% for recent_post in recent_posts %}
        <li>
            <h3><a href="{{ recent_post.get_absolute_url }}">{{ recent_post.title }}</a></h3>

            {% comment %}
            <div class = "row">
            {% if recent_post.featured_image %}
                <div class="col-md-3 pull-left thumbnail">
                    <img class="tumbnail" src="/static/media/{{ recent_post.featured_image }}">
                </div>
                <div class="col-md-3 pull-left"></div>
                <div class="col-md-9 pull-right">
            {% else %}
                <div class="col-md-12">
            {% endif %}
            {% endcomment %}
            <div class="recent-summary">
                {{ recent_post.description_from_content|safe }}
                <a href="{{ recent_post.get_absolute_url }}" class="label-inverse">{% trans "read more&hellip;" %}</a>
            <hr>
            </div><!-- /recent-summary -->
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>


</div>
</div>
{% endblock %}
