{% load static %}
<html class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths" style="" lang="en"><!--<![endif]--><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Soul 4 Cash</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--STYLESHEETS-->
        <link rel="stylesheet" href="{% static "Soul_4_Cash_files/style.css" %}">

        <!--SCRIPTS-->
        <script src= "{% static "Soul_4_Cash_files/3941.js" %}" async="" type="text/javascript"></script>
        <script src="{% static "Soul_4_Cash_files/jquery_002.js" %}"></script>
        <script src="{% static "Soul_4_Cash_files/respond.js" %}"></script>
        <script src="{% static "Soul_4_Cash_files/jquery.js" %}"></script>
        <script src="{% static "Soul_4_Cash_files/script.js" %}"></script>

</head>

    <body>

        <header class="row full">
            <div class="row">
                <a id="logo" style="font-size:30px;color:gold;font-weight:bolder"href="#">Soul4Cash.com</a>


                <div class="head-right desktop">
                    <a id="track-link" href="#">Secure Pack Tracking</a>
                    <div class="clearfix"></div>
                    <div class="phone clearfix">
                        For Customer Service call<br>
                        <span class="number">1-BEE-LZE-BUB6</span>
                    </div><!--.phone-->
                </div><!--.head-right-->
                <img class="hicon" src="{% static "Soul_4_Cash_files/risk-free-icon.png" %}" alt="">
                <img class="hicon" src="{% static "Soul_4_Cash_files/price-match-icon.png" %}" alt="">

                <div id="mnav-trigger" class="mobile"></div>
                <nav id="mobile-nav">
                    <ul>
                        <li><a href="#">Secure Pack Tracking</a></li>
                        <li><a href="#">What We Buy</a></li>
                        <li><a href="#">Testimonials</a></li>
                    </ul>
                </nav><!--#mobile-nav-->

            </div><!--.row-->
        </header><!--.row.full-->        
        <section id="top-hero" class="row">
            <div id="main-messaging" class="col six desktop">
                <div id="start-here">
                    <img src="{% static "Soul_4_Cash_files/start-here.png"%}" alt="Start Here">
                </div>
                <h1>Sell Your Soul<br>
                <span class="big">GET</span><br>
                <span class="big red">CASH</span></h1>
                <ul class="list">
                    <li>Fill out the Form</li>
                    <li>Mail It In</li>
                    <li><strong>GET PAID</strong></li>
                </ul>
                <div id="starburst"></div>
            </div><!--#main-messaging.col.six-->
            
            <div id="main-messaging" class="col six mobile">
                <h1>Sell Your Soul<br>
                <span class="big">GET</span>
                <span class="big red">CASH</span></h1>
                <ul class="list">
                    <li>Fill out the Form</li>
                    <li>Mail It In</li>
                    <li><strong>GET PAID</strong></li>
                </ul>
                <div id="starburst"></div>
            </div><!--#main-messaging.col.six-->
            <div id="primary-form" class="col six gradient">
    <h1>Please send me my <span>FREE</span> Secure Pack. soul4cash.com</h1>
    {% include "form.html" %}
<div id="conversion-container"></div>
<!--#primary-form.col.six-->

<img id="form-shade" src="{% static "Soul_4_Cash_files/form-bg.png" %}">


       
        </section><!--#top-hero-->
        
        <section id="video-panel" class="row full">
            <div class="row">
                <h1>Sell your old <span>soul, morality,</span> and <span>capacity for love.</span></h1>
                <div class="col six right flush-right">
                    <iframe width="100%" height="260" src="https://www.youtube.com/embed/oMWIUJwzqSo" frameborder="0" gesture="media" allowfullscreen></iframe>
                    <p>Watch this video to find out more!</p>
                </div><!--.col.six-->
                <div class="col six flush-left">
                    <p>Do you have an old dusty immortal soul just lying around unused in your home? 
                    Millions of Americans do!  Maybe it’s old or broken. Maybe it was a gift or an 
inheritance from a loved one. And even if it has sentimental value for 
you, you’re not likely to ever actually use it again or listen to your faulty moral compass ANYWAY. 
Wouldn’t you like to get cash for these items?</p>
                    <p>Soul4Cash.com is the original way to sell your soul online. 
                    We’ll even give you CASH for it. Our process is Secure. Discreet. Fast. Eternal.</p>
                </div><!--.col.six-->                
            </div><!--.row-->
        </section><!--#video-panel.row.full-->
        
        <section id="short-quotes" class="row full desktop">
            <div class="row">
                <blockquote class="col four flush-left">
                    “Soul4Cash.com paid for my Christmas this year!”<br>
                    <span class="name">- Alix V.B., Our Customer</span>
                </blockquote><!--.col.four.flush-left-->
                <blockquote class="col four">
                    “I put it in my savings and it almost fills the void that it created in the first place!”<br>
                    <span class="name">- Ann C., Our Customer</span>
                </blockquote><!--.col.four-->
                <blockquote class="col four flush-right">
                    “I love extra cash between paychecks, regardless of the ever-lasting cost.”<br>
                    <span class="name">-Chris C., Our Customer</span>
                </blockquote><!--.col.four.flush-right-->
            </div><!--.row-->
        </section><!--#short-quotes.row.full-->
        
        <section id="payment-process" class="row full desktop">
            <div class="row">
                <div id="pp-text" class="col nine flush-left">
                    <h1>More than 1 million payments made!</h1>
                    <div class="col nine flush-left">
                        <p>As the original and most respected online soul purchaser in the business, 
                        Soul4Cash.com knows that selling your 
immortal soul can be a personal – and often very emotional – decision.  So 
you need to know you’re making the right choice.</p>
                        <h2>OUR PROCESS IS</h2>
                        <ul class="checkmarks">
                            <li><strong>Secure</strong> —  Secure and compliant</li>
                            <li><strong>Private</strong> — Discreet mail-in transaction</li>
                            <li><strong>Fast</strong> — Get paid in days</li>
                            <li><strong>Best Offer</strong> — Price Match Guarantee</li>
                        </ul>
                        <a href="#primary-form" class="form-link">Send my <span>FREE</span> Pack now!</a>
                        
                        <div class="guarantee-box col six flush-left">
                            <img src="{% static "Soul_4_Cash_files/price-match-icon.png"%}" alt="Price match" width="90" height="90">
                            <div class="inner-box">
                                <p>Price Match Guarantee for all other Demonic, Nationally Televised Buyers.</p>
                            </div><!--.inner-box-->
                        </div><!--.col.six.flush-left-->
                        <div class="guarantee-box col six flush-right">
                            <img src="{% static "Soul_4_Cash_files/risk-free-icon.png" %}" alt="Risk Free" width="90" height="90">
                            <div class="inner-box">
                                <p>Return the check or call within 10 days and we’ll return your items free of charge.</p>
                            </div><!--.inner-box-->
                        </div><!--.col.six.flush-right-->
                    </div><!--.col.nine-->
                </div><!--#pp-text.col.nine-->
            </div><!--.row-->
            <div class="clearfix"></div>
        </section><!--#payment-process.row.full-->
        
        <section id="payment-process" class="row full mobile">
            <div class="row">
                <div id="pp-text" class="col nine flush-left">
                    <h1>More than <span class="red">ONE MILLION</span> payments made!</h1>
                    
                    <div class="mcol twelve">
                        <div id="gbox-container">
                            <div class="guarantee-box mcol six">
                                <img src="{% static "Soul_4_Cash_files/price-match-icon.png" %}" alt="Price match" width="90" height="90">
                                <div class="inner-box">
                                    <p>Price Match Guarantee for all other Demonic, Nationally Televised Buyers.</p>
                                </div><!--.inner-box-->
                            </div><!--.col.six.first-in-row-->
                            <div class="guarantee-box mcol six">
                                <img src="{% static "Soul_4_Cash_files/risk-free-icon.png" %}" alt="Risk Free" width="90" height="90">
                                <div class="inner-box">
                                    <p>Return the check or call within 10 days and we’ll return your items free of charge.</p>
                                </div><!--.inner-box-->
                            </div><!--.col.six.last-in-row-->
                        </div>

                         <p>As the original and most respected online soul purchaser in the business, 
                        Soul4Cash.com knows that selling your 
immortal soul can be a personal – and often very emotional – decision.  So 
you need to know you’re making the right choice.</p>
                        <h2>OUR PROCESS IS</h2>
                        <ul class="checkmarks">
                            <li><strong>Secure</strong> —  Secure and compliant</li>
                            <li><strong>Private</strong> — Discreet mail-in transaction</li>
                            <li><strong>Fast</strong> — Get paid in days</li>
                            <li><strong>Best Offer</strong> — Price Match Guarantee</li>
                        </ul>
                        
                        <a href="#primary-form" class="form-link">Send my <span>FREE</span> Pack now!</a>
                        
                        
                    </div><!--.col.nine-->
                </div><!--#pp-text.col.nine-->
            </div><!--.row-->
            <div class="clearfix"></div>
        </section><!--#payment-process.row.full-->
        
        {% include "scroller.html"%}
           <div class="clearfix"></div>
            <h1 class="btm">Keep scrolling for a special offer…</h1>
        </section><!--#we-buy.row-->
        
        <section id="faqs" class="row full">
            <div class="row">
                <h1>Soul4Cash.com: The right choice.</h1>
                <ul>
                    <li>
                        <strong>Q:  How do you analyze the quality of my soul?</strong>
                        <p>A:  Soul4Cash.com uses – not 1 – but 3 
state-of-the-art tests to assess the value of your life force:  
electronic analysis, emotional trauma, and x-ray fluorescence testing.</p>
                    </li>
                    <li>
                        <strong>Q: How is submitting my items “risk free”?</strong>
                        <p>A: If you change your mind about selling your
 soul, simply contact us and return your check within 10 days of 
receiving the offer.  Once we have received your check back, we’ll be 
happy to return your soul with only minor singes.</p>
                    </li>
                    <li>
                        <strong>Q: How will you keep my items secure?</strong>
                        <p>A:  Soul4Cash.com stores your spirit in a 
vault within a locked room, inside a secure area protected by 
bulletproof glass and a host of guys in red tights. 
The entire secure area is monitored by video 24/7/365 for eternity. It will never get out.</p>
                    </li> 
                </ul>
            </div><!--.row-->
            
            <div id="secure-pack" class="row">
                <h2 class="col seven">Here’s what’s in your FREE SECURE PACK:</h2>
                <div class="clearfix"></div>
                <hr>
                <div class="col five desktop">
                    <img src="{% static "Soul_4_Cash_files/secure-pack.png" %}" alt="Get your free Secure Pack today!">
                    <p class="center">FREE SECURE PACK</p>
                </div><!--.col.five-->
                <div class="col seven">
                    <ul class="list">
                        <li>A sealable plastic bag to protect your spirit against environmental and other damage.</li>
                        <li>A postage-paid, priority shipping envelope, pre-coded to computer-match your name with your items.</li>
                        <li>A complete description of the Soul4Cash assessment process.</li>
                    </ul>
                    <p>Just drop it in the mail. We’ll protect your property and take care of the rest!</p>
                    <a href="#primary-form" class="form-link desktop">Send my <span>FREE</span> Pack now!</a>
                </div><!--.col.seven-->
            </div><!--#secure-pack.row-->
            
        </section><!--#right-choice.row.full-->
        
        <section id="call-out" class="row desktop">
            <h1><span class="red">Get CASH</span> even for your broken, mismatched, unused soul!</h1>
            <div class="col eight">
                <p>In these troubled financial times, you’re smart to 
have ALL your resources at your fingertips, should you ever need them. 
And that includes the jewelry in your dresser drawer or safety deposit 
box as well as the valuables that money couldn't buy until now! Liquidate your assets including your place in the afterlife!.</p> 
                <p>When you need money fast, Soul4Cash.com is there to give you cash in a hurry!  Take a moment to submit your <a href="#primary-form">FREE SECURE PACK</a> today.</p>
            </div><!--.col.eight-->
            <div class="col four">
                <img src="{% static "Soul_4_Cash_files/call-out-image.png" %}" alt="">
            </div><!--.col.four-->
        </section><!--#call-out.row-->
        
        <section id="testimonials" class="row full desktop">
            <div class="row">
                <img id="quote-bg" src="{% static "Soul_4_Cash_files/quote-image.png" %}" alt="">
                <div id="quote-container" class="col eight">
                    <!--.slides.col.eight-->
                <div class="flex-viewport" style="overflow: hidden; position: relative;"><ul class="slides" style="width: 800%; transition-duration: 0s; transform: translate3d(-560px, 0px, 0px);"><li class="slide clone" aria-hidden="true" style="width: 560px; float: left; display: block;">
                            <h1>“It’s reliable and it’s a great way to turn a nasty, moth ridden moral compass into cash.”</h1>
                            <h2 class="author">- Ginger, Actual Customer</h2>
                        </li>
                        <li class="slide flex-active-slide" style="width: 560px; float: left; display: block;">
                            <h1>“Soul4Cash treated me both fairly and respectfully.”</h1>
                            <h2 class="author">- Cheryle B., Actual Customer</h2>
                        </li>
                        <li class="slide" style="width: 560px; float: left; display: block;">
                            <h1>“It’s reliable and it’s a great way to turn a nasty, moth ridden moral compass into cash.”</h1>
                            <h2 class="author">- Ginger, Actual Customer</h2>
                        </li>
                    <li class="slide clone" aria-hidden="true" style="width: 560px; float: left; display: block;">
                            <h1>“Soul4Cash treated me both fairly and respectfully.”</h1>
                            <h2 class="author">- Cheryle B., Actual Customer</h2>
                        </li></ul></div><ul class="flex-direction-nav"><li><a class="flex-prev" href="#">❮</a></li><li><a class="flex-next" href="#">❯</a></li></ul></div><!--#quote-container-->
            </div><!--.row-->
        </section><!--#testimonials.row.full-->
        
        <section id="testimonials" class="row full mobile">
            <div class="row">
                <div id="quote-container" class="mcol eight flush-right">
                    <ul class="slides">
                        <li class="slide">
                            <h1>“It’s reliable and it’s a great way to turn a nasty, moth ridden moral compass into cash.”</h1>
                            <h2 class="author">- Tom B. , Our Customer</h2>
                        </li>
                    </ul><!--.slides.col.eight-->
                </div><!--#quote-container-->
            </div><!--.row-->
        </section><!--#testimonials.row.full-->
        
        <section id="special-offer" class="row">
            <h1>Sell your soul <span class="red">GET CASH + $100 Cash Bonus!</span></h1>
            
            <ul class="list horz clearfix">
                <li>Fill out the Form</li>
                <li>Mail Your Soul</li>
                <li><strong>GET PAID</strong></li>
            </ul>
            
            <img class="special-offer-img" src="{% static "Soul_4_Cash_files/hundred-dollar-bill.jpg"%}" alt="">
            <a href="#primary-form" class="form-link">Send my <span>FREE</span> Pack now!</a>
        </section><!--#special-offer.row-->
        
        <footer class="row full">
            {% include "footer.html" %}
       </footer>
    {% include "googleAnalytics.html" %}
    <script type="text/javascript">
    setTimeout(function(){var a=document.createElement("script");
            var b=document.getElementsByTagName("script")[0];
            a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0013/3941.js?"+Math.floor(new Date().getTime()/3600000);
            a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
    </script>

</body></html>
