            <div class="row">
                <nav>
                    <ul>
                         <li><a href="#">What Soul4Cash Buys</a></li>
                         <li><a href="#">Testimonials</a></li>
                         <li><a href="#">The Process</a></li>
                         <li><a href="#">FAQs</a></li>
                         <li><a href="#">Privacy Policy</a></li>
                         <li><a href="#">Terms &amp; Conditions</a></li>
                    </ul>
                </nav>
                <div class="clearfix"></div>
                <p><span class="number">1-BEE-LZE-BUB6</span><br>Monday – Friday, 9:00am – 4:30pm EST
                </p>
                <p>666 Sulfur Corporate Drive, Flaming Inferno, 8th Circle</p>
                <p>Original Soul4Cash Site<sup>®</sup></p>
                </div><!--.region-links-->
                
            </div>
 
