    <form id="cfg-lead">
    	<input name="cfgid" value="1cdd943af9f99f98a3f1a8faf4907c4e" type="hidden">
    	<div id="pf-form-error"></div>
        <div class="input-wrap">
            <label class="col three" for="pf-fname"><span class="red">*</span>FIRST NAME</label>
            <input id="pf-fname" class="col nine" name="first_name" maxlength="40" required="" type="text">
        </div>
        <div class="input-wrap">
            <label class="col three" for="pf-lname"><span class="red">*</span>LAST NAME</label>
            <input id="pf-lname" class="col nine" name="last_name" maxlength="40" required="" type="text">
        </div>
        <div class="input-wrap">
            <label class="col three" for="pf-address"><span class="red">*</span>ADDRESS</label>
            <input id="pf-address" class="col nine" name="address" maxlength="50" required="" type="text">
        </div>
        <div class="input-wrap">
            <label class="col three" for="pf-apartment">APT#</label>
            <input id="pf-apartment" class="col nine" name="apt" maxlength="40" type="text">
        </div>
        <div class="input-wrap">
            <label class="col three" for="pf-city"><span class="red">*</span>CITY</label>
            <input id="pf-city" class="col nine" name="city" maxlength="50" required="" type="text">
        </div>
        <div class="input-wrap">
            <label class="col three" for="pf-state"><span class="red">*</span>STATE</label>
            <input id="pf-state" class="col nine" name="state" maxlength="50" required="" type="text">
        </div>
        <div class="input-wrap">
            <label class="col three" for="pf-zip"><span class="red">*</span>ZIP</label>
            <input id="pf-zip" class="col nine" name="zip" maxlength="20" required="" type="text">
        </div>
        <div class="input-wrap">
            <label class="col three" for="pf-phone"><span class="red">*</span>PHONE</label>
            <input id="pf-phone" class="col nine" name="phone" maxlength="50" required="" type="tel">
        </div>
        <div class="input-wrap">
            <label class="col three" for="pf-email"><span class="red">*</span>EMAIL</label>
            <input id="pf-email" class="col nine" name="email" maxlength="64" required="" type="email">
        </div>
        <div class="input-wrap">
            <label class="col three" for="pf-promo">PROMO CODE</label>
            <input id="pf-promo" class="col nine" name="bonus_offer" maxlength="25" type="text">
        </div>
        <div class="input-wrap checkbox col nine">
            <input class="col one" id="pf-term-check" name="terms-check" value="" type="checkbox">
            <label class="checkbox-label col eleven" for="pf-term-check">
            I have read and agree to all <a href="#">Terms and Conditions</a>.
 I declare, under penalty of perjury, and eternal damnation that this information supplied by 
me is true and correct, I am the lawful 
owner of the soul in question, and have absolute authority to sell it.</label>

        </div>
        <div class="input-wrap checkbox col">
            <input class="col one" id="pf-offer-check" name="offer-check" value="" type="checkbox">
            <label class="checkbox-label col" for="pf-offer-check">
            YES! I'd like to be informed of other offers and products from Soul4Cash.com and its partners. </label>
        </div>
        <div class="input-wrap">
            <button type="submit" id="pf-form-submit">Send my <span>FREE</span> Pack now!<br><span id="loading"></span></button>
        </div>
    </form>
</div>
