{% load static %}
        <section id="we-buy" class="row desktop">
            <h1>What kinds of items can you sell?</h1>
            <div class="col six flush-left">
                 <div id="buy-slider-container">
    
<div class="flex-viewport" style="overflow: hidden; position: relative;">
    <ul class="slides" style="width: 1000%; transition-duration: 0s; transform: translate3d(-1236px, 0px, 0px);">
        <li class="slide clone" style="background-image: url({% static "Soul_4_Cash_files/soul.jpg"%}); width: 412px; float: left; display: block;" aria-hidden="true"><p class="flex-caption">Immortal Souls</p></li>
        <li class="slide" style="background-image: url({% static "Soul_4_Cash_files/placeInExistance.jpg"%}); width: 412px; float: left; display: block;"><p class="flex-caption">Your Place in Existance</p></li>
        <li class="slide" style="background-image: url({% static "Soul_4_Cash_files/whatWeBuy.jpg"%}); width: 412px; float: left; display: block;"><p class="flex-caption">Assorted Morality and Ethics!</p></li>
    <li class="slide clone" style="background-image: url({% static "Soul_4_Cash_files/handshake.jpg"%}); width: 412px; float: left; display: block;" aria-hidden="true"><p class="flex-caption">Sign It Away Now!</p></li></ul></div><ul class="flex-direction-nav"><li><a class="flex-prev" href="#">❮</a></li><li><a class="flex-next" href="#">❯</a></li></ul></div><!--#buy-slider-container-->
<div class="captions">Broken Items</div>                
            </div><!--.col.six.flush-left-->
            <div class="col six flush-right">
                <ul class="buy-list list">
                    <li>We buy SOULS</li>
                    <li>We buy MORALS</li>
                    <li>We buy ETHICS</li>
                    <li>We buy PURPOSE</li>
                </ul>
            </div><!--.col.six.flush-right-->
 
